/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap'); */

html, body {
  height: 100%;
  margin: 0;
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}





li.Header, a{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 2VH;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

button, p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  
}

header{
  display: flex;
  justify-content: space-between;
  padding: 3vh 7%;
  padding-bottom: 2vh;
  background-color: rgba(1, 1, 1, 0.066);
}

.logo {
  cursor: pointer;

  width: 3vw;
}



.nav__links{
  list-style: none;
}

.nav__links li.Header {
  display: inline-block;
  padding: 0px 20px;

}

.nav__links li.Header, a {
  transition: all 0.3 ease 0s;
}

.nav__links li.Header a:hover{
  color: #0088a9;
  transition: all 0.4s ease 0s;
}

.cta{
  margin-right: 0px;
  padding-right: 0px;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;

}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}




body{
  background-color: rgb(1, 1, 1);
  background-image: url("Images/Harbane2Basejpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  scroll-snap-type: y mandatory;

}

/*---------------------------------------------------------------*/
section {
  height: 91.9vh;
  scroll-snap-align: start;
}

section:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
section:nth-child(3) {
  height: 105vh;

  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.35)), url("Images/HarbanePath.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 0 20vh;

}
section:nth-child(4) {
  height: 100vh;
 background-color: rgb(0, 0, 0);
  /*background-image: linear-gradient(rgba(28, 2, 2, 0.193), rgba(0,0,0,0)), url("images/MountainBlured.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;

 /* margin: 15vh 15vh; */
}
section:nth-child(5) {
    height: 100vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.422), rgba(0, 0, 0, 0.422)), url("Images/MountainBlured.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  
    padding: 0 20vh;
  
  }
  

/*------------------------------------------------------------------*/

h1.section1{


    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20vh;
    color: rgb(255, 255, 255);
  }



h1.section2{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 10vh;
  color:rgb(255, 255, 255);
  text-decoration:underline;
  padding-top: 8vh;
  display: flex;
  justify-content: center;

  }

h1.section3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 10vh;
  color:rgb(255, 255, 255);
  text-decoration:underline;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;

}

p.Harbane2Description{
  font-size: 3vh;
  padding-top: 4vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.section2list{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-;
    font-weight: 400;
    font-size: 4vh;
    color:rgb(255, 255, 255);
    list-style-type: square;
    padding-top: 3vh;

}

.section-heading{
  position: absolute;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
  font-size: 8vh;
  text-decoration: underline;
  z-index: 1;
  margin-top: 1vh;
  padding-top: 0;
  display: flex;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.611);
  border-radius: 16px;
}


/*--------------------------------------------GALLARY-----------------------------------------*/
* {
  box-sizing: border-box;
}



/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px 2%;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 5vh;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4vh;
  padding: 1vh 2vh;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 0vh 2vh;
  height: auto;
  color: white;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
body{
    background-color: rgb(0, 0, 0);
}