* {
    box-sizing: border-box;
  }

html{
    font-family: sans-serif;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  
    background-color:rgb(0, 0, 0);
}

body{
    background-color: rgba(0, 0, 0, 0);
}

html, body {
    height: 100%;
    margin: 0;

  }
  
  
  
  
 
  /*---------------------------------------------------------------*/
  section {
    height: 90vh;


    scroll-snap-align: start;
    text-align: center;
    position: relative;
    
  }
  
  section:nth-child(1) {


    background-color: rgb(4, 15, 55);
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("Images/HarbaneSMP.jpg");
    background-size: cover;

    animation-duration: 20s;

    animation-name: first;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes first{
    from {
        background-position: left;
    }
  
    to {
        background-position: right;

  
      }
  }
  

  section:nth-child(2) {
    background-color: rgb(28, 30, 33);
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("Images/MistyBlueGradient.jpg");
    background-size: cover;
    background-repeat: none;
  }
  section:nth-child(3) {


    background-color: rgb(13, 69, 183)

  }

  h1 {
      color: white;
      font-size: 12vw;
      padding-top: 8vw;
      margin: 0 0;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

      animation-name: H1;
      animation-duration: 2s
  }

  h1.section2{
    font-size: 7vw;
    padding-top: 10vw;
  }


  button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 3vh;
    color: rgb(0, 0, 0);
    text-decoration: none;

    background-color: rgb(0, 120, 206);
    padding: 10px 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.374);

    
    animation-duration: 0.6s;
    
    animation-name: button;
    animation-iteration-count: infinite;
    animation-direction: alternate;


  }

p  {
  color: rgb(255, 255, 255);
  font-size: 2vh;
}



  @keyframes H1{
      from {
          opacity: 0;
          padding-top: 5vw;
      }

      to {
          opacity: 1;
        }
  }

  @keyframes button{
    from {
        margin-top: 0vw;
    }

    to {
        margin-top: 0.8vw;
        box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.374);

      }
}

